
  * { margin: 0;}
* {padding: 0;}
html{
  scroll-behavior: smooth;
  width: 100%;
  list-style: none;
  display: table-cell;
  vertical-align: bottom;
  background-color: #000000;
  h1{
    padding-top: 65px;
    font-family: 'Saira, sans serif';
    font-size: 35px;
    text-align:center;
    color:  #ffffff;
    text-shadow: 1px 2px 2px #93edcc;
    box-sizing: border-box;
    font-family: Saira, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    transition: .3s ease;
  }
  a{
    color: #ffffff;
    font: 15pt Copperplate Gothic;
    text-decoration: none;
        text-shadow:#00AD6F;
        font: 15pt Copperplate Gothic;
        border: none; 
        padding: 10px;
        text-align: right;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        -webkit-transform: scaleX(0);
        transform: scaleX(1);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
}  
a:before{
        content: "";
        position: fixed;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #00AD6F;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.1s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
}
}
body{
color: rgba(255, 255, 255, 0.594); 
width: 100%;
justify-content: space-around;
}
@font-face{
  font-family: "";
  src: url('KutaiTrial-Normal.ttf') format
  ('opentype'), url('KutaiTrial-Normal.ttf')
  format ('truetype');
  font-weight: normal;
  font-style: normal;
}
nav{
  position: fixed;
  background-color: #000000;
  gap: 7rem;
  height: 12.5%;
  width: 100%;
  transition: all 0.5;
  cursor: pointer;
  font: 15pt Impact, fantasy;
  font-family: Saira, sans-serif;
  transition: .3s ease;
  box-shadow: 1px 2px 4px #00AD6F;
  display: flex;
  h1{
    font-family: Saira, sans-serif;
    font-size: 25px;
    padding:5px;
    color: #ffffff;
    align-items: center;
    text-align: center;
    display: flex;
  }
  p{
    color: #00AD6F;
  
  }
  a{
    padding-top: 2%;
  }
}
section{
  min-height: 100vh;
  padding-top: 10rem;
  padding: 15px;
  align-items: center;
}
.text-animado{
  text-align: center;
  box-sizing: border-box;
  font-family: Saira, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  transition: .3s ease;
  text-shadow:  2px 2px 5px;
}
.text-animado{
  font-size: 25px;
  font-weight: 300;
}
.text-animado span{
  position: relative;
}
.text-animado span::before{
  content: "";
  color: #00AD6F;
  animation: palavras 3.2s infinite;
  
}
.text-animado span::after{
  content: "";
  position: absolute;
  height: 100%;
  border-left: 2px solid #ffffff;
  right: -10px;
  animation: cursor 0.7s , digita 30s steps(50) infinite;
  width: calc(100% + 18px);
  background-color:  #020202;
  border-radius:0px;
}
@keyframes digita{
 10%, 15%, 39%, 35%, 50%, 55%, 40%, 75%, 90%, 95%{
  width: 0;
 }
 5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
width: calc(100% + 18px);
 }
}
@keyframes cursor{
  0%{
  border-left: 2px solid #020202;
}
}
@keyframes palavras{
 0%, 100%{
  content:"Desenvolvedor WEB";
text-shadow: 2px 2px 10px;
}
}
@keyframes pulse {
  0% {
    transform: scale(0.1);
    opacity: 0.5;
    
  }
  100% {
    transform: scale(1);
    opacity: 5;
    
  }
}
.quadrado {
  animation: pulse 6s;
}
.container {  
  display: grid;  
  grid-gap:5px;
  grid-template-columns: repeat(auto-fit, 100px);  
  grid-template-rows: repeat(2, 100px);  
}
#Inicio{
background-color:  #020202;
color: #00AD6F;
margin: 0%;
align-items: center;
text-align: center;
padding-top: 65px;
padding-left: 30%;
padding-right: 30%;
img{
      height: 40px;
      width: 40px;
      padding-top: 2px;
      
}
  

h2{
   img{
    width: 300px ;
    height: 300px;
    animation: go-back 5s linear ;
    position:sticky;
    text-align: center;
  
} 
}
a{
    border-bottom: #00AD6F;
    margin-left: auto;
    padding-top: 2px;
    border-color: #ffffff;
    border-style: hidden;
    padding: 0%;
    gap: 2rem;
}

}  
#Sobre{
  background-color: rgb(0, 0, 0);
    padding: 0%;
    text-decoration-color: cyan;
    text-align: center;
    color:  #ffffff;
    align-items: center;
    gap: 5rem;
    padding-top: 5%;
    h2{
        font: 15pt Copperplate Gothic;
        text-align: center;
        padding-left: 30%;
        padding-right: 30%;
    }
    
    img{
        width: 600px;
        height: 300px;
        border-radius: 20%;
}

}
#Projetos{
  background-color: #092219;
  text-align: center;
  font: 30pt Impact, fantasy;
  color: #00AD6F;
  gap: 15rem;
  padding-top: 5%;

        padding-right: 30%;  
 
  h2{
    font: 15pt Copperplate Gothic;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5rem;
    
    p{
      font: 20pt;

    }
    img{
      width: 250px;
      height: 250px;
      text-align: center;
      border-radius: 40px;
      
    }
      
  }
  h3{
    font: 15pt Copperplate Gothic;
    text-align: left;
    display: flex;
    gap: 5rem;
    align-items: center;
    
    p{
      font: 20pt;

    }
    img{
      width: 250px;
      height: 250px;
      text-align: center;
      border-radius: 30%;
     
    }
      
  }
  h4{
    font: 15pt Copperplate Gothic;
    text-align: left;
    display: flex;
    gap: 5rem;
    align-items: center;
    p{
      font: 20pt;

    }
    img{
      width: 250px;
      height: 250px;
      text-align: center;
      
    }
      
    }
  h5{
    font: 15pt Copperplate Gothic;
    text-align: left;
    display: flex;
    gap: 5rem;
    align-items: center;
    p{
      font: 20pt;

    }
    img{
      width: 250px;
      height: 250px;
      text-align: center;
      
    }
 
  a{
   
  text-decoration: none;
  text-shadow:black 5px 5px 10px;
  background-color: none;
  color:  none; 
  transition: all 0.9s;
  cursor: pointer;
  font: 15pt Copperplate Gothic;
  background-color:none ;
  border: none;
  color: rgb(255, 255, 255); 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  }
  }
  h6{
    font: 15pt Copperplate Gothic;
    text-align: left;
    display: flex;
    gap: 5rem;
    align-items: center;
    p{
      font: 20pt;

    }
    img{
      width: 250px;
      height: 250px;
      text-align: center;
      border-radius: 10%;
      
    }
 
  a{
   
  text-decoration: none;
  text-shadow:black 5px 5px 10px;
  background-color: none;
  color:  none; 
  transition: all 0.9s;
  cursor: pointer;
  font: 15pt Copperplate Gothic;
  background-color:none ;
  border: none;
  color: rgb(255, 255, 255); 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  }
}
}
#Contato{
    background-color: rgb(0, 0, 0);
    text-align: center;
    font: 30pt Impact, fantasy;
    color:  rgb(248, 211, 162);
    align-items: center;
    align-self: center;
    gap: 15rem;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
p{
      font: 20pt Copperplate Gothic;
    }
img{
      width: 80px;
      height: 80px;
      text-align: center;
      align-items: center;     
}
img{
     
    text-decoration: none;
    text-shadow:black 5px 5px 10px;
    background-color: none;
    color:  none; 
    transition: all 0.9s;
    cursor: pointer;
    font: 15pt Copperplate Gothic;
    background-color:none ;
    border: none;
    color: rgb(255, 255, 255); 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.9s;
    cursor: pointer;
    
   
  }
  img:hover{
           -webkit-filter: drop-shadow(15px 20px 10px rgba(0,0,0,.0));
           filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
           -webkit-transform: scale(1.4);
           transform: scale(1.4);
  }
  img{
    color: #ffffff;
    font: 15pt Copperplate Gothic;
    text-decoration: none;
        text-shadow:#00AD6F;
        font: 15pt Copperplate Gothic;
        border: none; 
        padding: 10px;
        text-align: right;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        -webkit-transform: scaleX(0);
        transform: scaleX(1);
        -webkit-transition: all 0.8s ease-in-out 0s;
        transition: all 0.8s ease-in-out 0s;
      }  
     
}


@media screen and (max-height: 700px) and (max-width: 900px){ 

#Inicio{
font-family: 'Courier New', Courier, monospace;
font-size: 20pt ;
img{
height: 25px;
width: 25px;
}
}
#Sobre{
font-family: 'Courier New', Courier, monospace;
font-size: 20pt ;
img{
  height: 25px;
width: 25px;
display: flex
}
}
#Projetos{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt;
  padding-top: 2%;
    img{
      height: 25px;
      width: 25px;
    }
  h2{
    font-size: 10pt;
    font-family: 'Courier New', Courier, monospace;
  } 
  h3{
    font-size: 10pt;
    font-family: 'Courier New', Courier, monospace;
  }

  h4{
    font-size: 10pt;
    font-family: 'Courier New', Courier, monospace;
  }
  h5{
    font-size: 10pt;
font-family: 'Courier New', Courier, monospace;
  }
h6{
font-size: 10pt;
font-family: 'Courier New', Courier, monospace;
  

}
}

#Contato{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt ;
  img{
    height: 30px;
    width: 30px;

  }
}
}



@media screen and (max-height: 500px) and (max-width: 700px){ 

  #Inicio{

  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt ;
  img{
  height: 30px;
  width: 30px;
  }
  }
  #Sobre{
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt ;
  text-align:center;
  align-items: center;

  img{
    height: 30px;
  width: 30px;
  display: flex
  }
  }
  #Projetos{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt ;
  
    h2{
      font-size: 10pt;
      font-family: 'Courier New', Courier, monospace;}
      img{
        height: 0px;
        width: 0px;
      
      
    }
  
  h3{
      font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
      img{
        height: 0px;
        width: 0px;
      }
    }
  
    h4{
      img{
        height: 0px;
    width: 0px;
  
    }
  }
    h5{
      font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
      img{
        height: 0px;
        width: 0px;
    }
  
  }
  h6{
    img{
      height: 0px;
      width: 0px;
  }
  font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
    }
  }

  #Contato{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt ;
    img{
      height: 30px;
  width: 30px;
  
    }
  }
}
  
@media screen and (max-height: 300px) and (max-width: 500px){ 

  #Inicio{

  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt ;
  img{
  height: 30px;
  width: 30px;
  }
  }
  #Sobre{
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt ;
  text-align:center;
  align-items: center;

  img{
    height: 30px;
  width: 30px;
  display: flex
  }
  }
  #Projetos{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt ;
  
    h2{
      font-size: 10pt;
      font-family: 'Courier New', Courier, monospace;}
      img{
        height: 0px;
        width: 0px;
      
      
    }
  
  h3{
      font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
      img{
        height: 0px;
        width: 0px;
      }
    }
  
    h4{
      img{
        height: 0px;
    width: 0px;
  
    }
  }
    h5{
      font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
      img{
        height: 0px;
        width: 0px;
    }
  
  }
  h6{
    img{
      height: 0px;
      width: 0px;
  }
  font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
    }
  }

  #Contato{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt ;
    img{
      height: 30px;
  width: 30px;
  
    }
  }
}

@media screen and (max-height: 150px) and (max-width: 300px){ 

  #Inicio{

  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt ;
  img{
  height: 30px;
  width: 30px;
  }
  }
  #Sobre{
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt ;
  text-align:center;
  align-items: center;

  img{
    height: 30px;
  width: 30px;
  display: flex
  }
  }
  #Projetos{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt ;
  
    h2{
      font-size: 10pt;
      font-family: 'Courier New', Courier, monospace;}
      img{
        height: 0px;
        width: 0px;
      
      
    }
  
  h3{
      font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
      img{
        height: 0px;
        width: 0px;
      }
    }
  
    h4{
      img{
        height: 0px;
    width: 0px;
  
    }
  }
    h5{
      font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
      img{
        height: 0px;
        width: 0px;
    }
  
  }
  h6{
    img{
      height: 0px;
      width: 0px;
  }
  font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
    }
  }

  #Contato{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt ;
    img{
      height: 30px;
  width: 30px;
  
    }
  }
}
